.locales {
    background-color: #f0f2ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 7, 112, 0.1);
    margin: 20px;
}

.header {
    display: flex;
    justify-content: center;  /* Centrado para este caso */
    align-items: center;
    margin-bottom: 20px;
}

.titulo {
    color: #000770;
    margin: 0;
    font-size: 1.7rem;
    text-align: center;
}

.titulo i {
    margin-right: 10px;
    color: #000770;
}

.contenedor {
    background-color: #f0f2ff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 7, 112, 0.1);
}

.localesTabla {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1px;
}

.localesTabla td {
    border-spacing: 0 10px;
}

.localesTabla th,
.localesTabla td {
    padding: 12px;
    text-align: center;
}

.localesTabla th {
    background-color: #f0f2ff;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.localesTabla tbody tr {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 7, 112, 0.05);
    transition: all 0.3s ease;
}

.localesTabla tbody tr:not(:last-child) {
    border-bottom: 1px solid #e5eaff;
}

.localesTabla tbody tr:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 7, 112, 0.1);
}