<div class="distritos">
  <div class="header">
    <h2 class="titulo"><i class="bi bi-geo-alt"></i> Distritos</h2>
    <button (click)="nuevoDistrito()" class="btn-add">
      <i class="bi bi-patch-plus"></i> Agregar Distrito
    </button>
  </div>
  
  <div class="contenedor">
    <table class="distritosTabla">
      <thead>
        <tr>
          <th><i class="bi bi-hash me-2"></i>ID</th>
          <th><i class="bi bi-pin-map me-2"></i>Nombre</th>
          <th><i class="bi bi-gear me-2"></i>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let distrito of distritos">
          <td>{{ distrito.id_dis }}</td>
          <td>{{ distrito.nom_dis }}</td>
          <td class="acciones">
            <button (click)="editarDistrito(distrito)" class="btn-edit">
              <i class="bi bi-pencil-square"></i>
            </button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">