<div class="reservas">
  <div class="header">
    <h2 class="titulo"><i class="bi bi-calendar-check me-2"></i>Reservas</h2>
    <button (click)="nuevaReserva()" class="btn-add">
      <i class="bi bi-patch-plus"></i> Agregar Reserva
    </button>
    <button (click)="listarReservasEnable()" class="btn-add">
      <i class="bi bi-list-check"></i> Reservas Habilitadas
    </button>
  </div>
  
  <div class="contenedor">
    <div *ngIf="mensajeError" class="alert alert-danger">
      {{ mensajeError }}
    </div>
    
    <table class="reservasTabla" *ngIf="reservas.length > 0; else noReservas">
      <thead>
        <tr>
          <th><i class="bi bi-hash me-2"></i>ID</th>
          <th><i class="bi bi-person me-2"></i>Nombre</th>
          <th><i class="bi bi-person me-2"></i>Apellidos</th>
          <th><i class="bi bi-envelope me-2"></i>Email</th>
          <th><i class="bi bi-telephone me-2"></i>Teléfono</th>
          <th><i class="bi bi-calendar me-2"></i>Fecha</th>
          <th><i class="bi bi-clock me-2"></i>Hora</th>
          <th><i class="bi bi-people me-2"></i>Comensales</th>
          <th><i class="bi bi-building me-2"></i>Local</th>
          <th><i class="bi bi-check-square me-2"></i>Estado</th>
          <th><i class="bi bi-gear me-2"></i>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.idRes }}</td>
          <td>{{ reserva.nomRes }}</td>
          <td>{{ reserva.apeRes }}</td>
          <td>{{ reserva.emailRes }}</td>
          <td>{{ reserva.telRes }}</td>
          <td>{{ reserva.fechaReserva | date: 'shortDate' }}</td>
          <td>{{ reserva.horaReserva }}</td>
          <td>{{ reserva.comensales }}</td>
          <td>{{ reserva.local.dir_local }}</td>
          <td>
            <span [ngClass]="getStatusClass(reserva.enable)">
                {{ reserva.enable === 'S' ? 'Habilitado' : 'No Habilitado' }}
            </span>
        </td>
          <td class="acciones">
            <button (click)="editarReserva(reserva)" class="btn-edit">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button (click)="eliminarReservaEnable(reserva.idRes)" class="btn-delete">
              <i class="bi bi-x-lg"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <ng-template #noReservas>
      <p>No hay reservas registradas.</p>
    </ng-template>
  </div>
</div>
