<div class="container"><br><br>
  <div class="distrito-card">

    <div class="card-header">
      <h3 class="titulo"><i class="bi bi-patch-plus me-2"></i>Agregar Distrito</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" [(ngModel)]="regDistrito.nom_dis" name="nombre" class="form-control" placeholder="Ingresar distrito" required>
        </div>
        <br><br>
        <button (click)="cancelar()" class="btn-cancelar">Cancelar</button>
        <button (click)="guardarDistrito(regDistrito)" class="btn-agregar">Agregar Distrito</button>
      </form>
    </div>
  </div>
</div>