<div class="container"><br><br>
  <div class="distrito-card">
    <div class="card-header">
      <h3 class="titulo"><i class="bi bi-patch-plus me-2"></i>Agregar Local</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>Distrito</label>
          <select [(ngModel)]="regLocal.distrito.id_dis" name="distrito" class="form-control" required #distrito="ngModel">
            <option value="" disabled selected>Elegir Distrito</option>
            <option *ngFor="let distrito of distritos" [value]="distrito.id_dis">{{ distrito.nom_dis }}</option>
          </select>
          <div *ngIf="distrito.invalid && (distrito.touched || distrito.dirty)" class="text-danger">
            El distrito es obligatorio.
          </div>
        </div>

        <div class="form-group">
          <label>Dirección</label>
          <input type="text" [(ngModel)]="regLocal.dir_local" name="dir_local" class="form-control" placeholder="Ingresar dirección" required #direccion="ngModel">
          <div *ngIf="direccion.invalid && (direccion.touched || direccion.dirty)" class="text-danger">
            La dirección es obligatoria.
          </div>
        </div>

        <div class="form-group">
          <label>Teléfono</label>
          <input type="number" class="form-control" [(ngModel)]="regLocal.tel_local" name="tel_local" placeholder="Editar teléfono del local" required pattern="[0-9]{1,9}" #telefono="ngModel">
          <div *ngIf="telefono.invalid && telefono.touched" class="text-danger">
              El teléfono es obligatorio y debe tener hasta 9 dígitos.
          </div>
        </div>

        <div class="form-group">
          <label>Correo electrónico</label>
          <input type="email" [(ngModel)]="regLocal.email_local" name="email_local" class="form-control" placeholder="Ingresar correo" required #correo="ngModel">
          <div *ngIf="correo.invalid && (correo.touched || correo.dirty)" class="text-danger">
            El correo es obligatorio.
          </div>
        </div>

        <div class="form-group">
          <label>Horario de apertura</label>
          <input type="time" [(ngModel)]="regLocal.horario_apertura" name="horario_apertura" class="form-control" required #horarioApertura="ngModel">
          <div *ngIf="horarioApertura.invalid && (horarioApertura.touched || horarioApertura.dirty)" class="text-danger">
            El horario de apertura es obligatorio.
          </div>
        </div>

        <div class="form-group">
          <label>Horario de cierre</label>
          <input type="time" [(ngModel)]="regLocal.horario_cierre" name="horario_cierre" class="form-control" required #horarioCierre="ngModel">
          <div *ngIf="horarioCierre.invalid && (horarioCierre.touched || horarioCierre.dirty)" class="text-danger">
            El horario de cierre es obligatorio.
          </div>
        </div>

        <div class="form-group">
          <label>Habilitado</label>
          <select [(ngModel)]="regLocal.enable" name="enable" class="form-control" required #habilitado="ngModel">
            <option value="" disabled selected>Elegir Visibilidad</option>
            <option value="S">Visible</option>
            <option value="N">No Visible</option>
          </select>
          <div *ngIf="habilitado.invalid && (habilitado.touched || habilitado.dirty)" class="text-danger">
            La visibilidad es obligatoria.
          </div>
        </div>

        <div class="buttons-container">
          <button (click)="cancelar()" class="btn-cancelar">Cancelar</button>
          <button (click)="guardarLocal(regLocal)" class="btn-agregar" [disabled]="!distrito.valid || !direccion.valid || !telefono.valid || !correo.valid || !horarioApertura.valid || !horarioCierre.valid || !habilitado.valid">Guardar Local</button>
        </div>
      </form>
    </div>
  </div>
</div>