<div class="productos">
    <div class="header">
        <h2 class="titulo"><i class="bi bi-box"></i>Productos</h2>
        <button (click)="nuevo_Producto()" class="btn-add">
            <i class="bi bi-patch-plus"></i> Agregar Producto
        </button>
    </div>

    <div class="contenedor">
        <table class="productosTabla">
            <thead>
                <tr>
                    <th><i class="bi bi-hash me-2"></i>ID</th>
                    <th><i class="bi bi-box-seam me-2"></i>Nombre</th>
                    <th><i class="bi bi-file-earmark-text me-2"></i>Descripcion</th>
                    <th><i class="bi bi-currency-dollar me-2"></i>Precio</th>
                    <th><i class="bi bi-tags me-2"></i>Categoria</th>
                    <th><i class="bi bi-circle me-2"></i>Estado</th>
                    <th><i class="bi bi-gear me-2"></i>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>{{ producto.id_producto }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.id_categoria.nombre }}</td>
                    <td>
                        <span [ngClass]="getStatusClass(producto.enable)">
                            {{ producto.enable === 'S' ? 'Disponible' : 'No Disponible' }}
                        </span>
                    </td>
                    <td class="acciones">
                        <button (click)="editar_Producto(producto)" class="btn-edit">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button (click)="eliminar_Producto(producto.id_producto)" class="btn-delete">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>