<div class="container"><br><br>
  <div class="distrito-card">
    <div class="card-header">
      <h3 class="titulo"><i class="bi bi-patch-plus me-2"></i>Agregar Reserva</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="guardaReserva(regReserva)" #reservaForm="ngForm" novalidate>
        <div class="form-group">
          <label for="nomRes">Nombre:</label>
          <input type="text" id="nomRes" class="form-control" required [(ngModel)]="regReserva.nomRes" name="nomRes" #nombre="ngModel">
          <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
            El nombre es obligatorio.
          </div>
        </div>

        <div class="form-group">
          <label for="apeRes">Apellido:</label>
          <input type="text" id="apeRes" class="form-control" required [(ngModel)]="regReserva.apeRes" name="apeRes" #apellido="ngModel">
          <div *ngIf="apellido.invalid && apellido.touched" class="text-danger">
            El apellido es obligatorio.
          </div>
        </div>

        <div class="form-group">
          <label for="emailRes">Email:</label>
          <input type="email" id="emailRes" class="form-control" required [(ngModel)]="regReserva.emailRes" name="emailRes" #email="ngModel">
          <div *ngIf="email.invalid && email.touched" class="text-danger">
            El correo electrónico es obligatorio y debe ser un correo válido.
          </div>
        </div>

        <div class="form-group">
          <label for="telRes">Teléfono:</label>
          <input type="tel" id="telRes" class="form-control" required [(ngModel)]="regReserva.telRes" name="telRes" #telefono="ngModel">
          <div *ngIf="telefono.invalid && telefono.touched" class="text-danger">
            El teléfono es obligatorio.
          </div>
        </div>

        <div class="form-group">
          <label for="fechaReserva">Fecha de Reserva:</label>
          <input type="date" id="fechaReserva" class="form-control" required [(ngModel)]="regReserva.fechaReserva" name="fechaReserva" #fecha="ngModel">
          <div *ngIf="fecha.invalid && fecha.touched" class="text-danger">
            La fecha de reserva es obligatoria.
          </div>
        </div>

        <div class="form-group">
          <label for="horaReserva">Hora de Reserva:</label>
          <input type="time" id="horaReserva" class="form-control" required [(ngModel)]="regReserva.horaReserva" name="horaReserva" #hora="ngModel">
          <div *ngIf="hora.invalid && hora.touched" class="text-danger">
            La hora de reserva es obligatoria.
          </div>
        </div>

        <div class="form-group">
          <label for="comensales">Número de Comensales:</label>
          <input type="number" id="comensales" class="form-control" required [(ngModel)]="regReserva.comensales" name="comensales" min="1" max="7" #comensales="ngModel">
          <div *ngIf="comensales.invalid && comensales.touched" class="text-danger">
            El número de comensales es obligatorio, debe ser al menos 1 y máximo 7.
          </div>
        </div>

        <div class="form-group">
          <label for="local">Seleccionar Local:</label>
          <select id="local" class="form-control" required [(ngModel)]="regReserva.local.id_local" name="local" #localSeleccionado="ngModel">
            <option value="" disabled selected>Elegir Local:</option>
            <option *ngFor="let local of locales" [ngValue]="local.id_local">{{ local.dir_local }}</option>
          </select>
          <div *ngIf="localSeleccionado.invalid && localSeleccionado.touched" class="text-danger">
            Debes seleccionar un local.
          </div>
        </div>

        <br><br>
        <button (click)="cancelar()" class="btn-cancelar">Cancelar</button>
        <button type="submit" class="btn-agregar" [disabled]="!reservaForm.valid">Agregar Reserva</button>
      </form>
    </div>
  </div>
</div>
